body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  background-color: palegoldenrod;
}

.edu, .emp, .con {
  border: 3px solid goldenrod;
  margin-bottom: 20px;
}

.his {
  font-size: 18px;
}

h2, .contact {
  font-size: 30px;
}

h1 {
  font-size: 40px;
}